/* ---- LoginRegisterPopup ---- */

.HeaderPopupWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: inherit;
}

.HeaderPopupWrapper {
    opacity: 1;
    pointer-events: inherit;
}

.HeaderPopup {

}