@import "../../node_modules/reset-css/reset.css";

/*----- Fonts -----*/

@font-face {
  font-family: 'OS500';
  src: url('../fonts/Orelo-SemiWide-Medium.woff2') format('woff2')
}

@font-face {
  font-family: 'OS600';
  src: url('../fonts/Orelo-SemiWide-600.woff2') format('woff2')
}

@font-face {
  font-family: 'SF400';
  src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'SF700';
  src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'SF300';
  src: url('../fonts/SF-Pro-Display-Light.woff2') format('woff2')
}

@font-face {
  font-family: 'SF500';
  src: url('../fonts/SF-Pro-Display-Medium.woff2') format('woff2')
}

/*----- Vars -----*/

:root {
  --accent-color: #A18C50;

  --index: calc(1vh + 1vw);
  --bgc: #121212;

  --apart-gutter: 14px;
  --card-width: 50%;
  --color-text: #eee;

  --header-height: calc(var(--index) * 2.7);
  --gutter: calc(var(--index) * 1);

  --apart--button-height: calc(var(--index) * 1.27);
  --apart--button-widht: calc(var(--apart--button-height) * 170 / 38);

  --header--button-info-height: calc(var(--index) * 1.27);
  --header--button-info-widht: calc(var(--apart--button-height) * 170 / 38);
}

* {
  box-sizing: border-box;
  outline: none;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4) inset;
}

body {
  background-color: var(--bgc);
  height: 100vh;
  width: 100vw;
}

/*----- Header -----*/

.header {
  height: var(--header-height);
  padding: calc(var(--gutter) / 2) var(--gutter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 100%;
}

.header__logo img {
  height: 100%;
  object-fit: contain;
}

.header__info {
  width: var(--header--button-info-widht);
  height: var(--header--button-info-height);
  border-radius: var(--header--button-info-height);
  background: #1F1F1F;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__info span:first-child {
  width: 77%;
  text-align: center;
  font-family: "SF500", sans-serif;
  color: #838383;
  font-size: calc(var(--header--button-info-height) / 2.5);
}

.header__info span:last-child {
  width: 23%;
  align-items: center;
  border-left: 1px solid #131313;
  display: flex;
  justify-content: center;
  height: 100%;
}

.header__info span:last-child img {
  width: calc(var(--header--button-info-height) / 2);
  height: calc(var(--header--button-info-height) / 2);
  margin-left: -2px;
}

/*----- Map -----*/

.mapWrapper {
  height: calc(100vh - var(--header-height));
  width: 50%;
}

/*----- SearchPage -----*/

.SearchPage {
  display: flex;
  justify-content: space-between;
  height: calc(100% - var(--header-height));
}

/*----- ApartmentsList -----*/

.ApartmentsList {
  width: calc(100% - var(--card-width));
  height: calc(100vh - var(--header-height));
  padding: 74px 3px 24px var(--gutter);
  margin-right: calc(var(--gutter) - 3px);
  overflow: auto;
  color: #fff;
}

.ApartmentsList h2 {
  font-size: calc(var(--index) * 1.55);
  font-family: "OS600", sans-serif;
  margin-bottom: 15px;
}

.ApartmentsList ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.ApartmentsList ul li {
  width: calc(50% - var(--apart-gutter));
  margin-bottom: 40px;
}

.ApartmentsList ul li img {
  width: 100%;
  object-fit: contain;
}

.ApartmentsList__content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.ApartmentsList__image {
  border-radius: 6px;
  overflow: hidden;
}

.ApartmentsList__name {
  font-family: "SF500", sans-serif;
  font-size: calc(var(--index) * .7);
  letter-spacing: -0.41px;
  color: #EEEEEE;
  margin-bottom: calc(var(--index) * .3);
}

.ApartmentsList__content-left-info span {
  display: block;
  font-family: "SF400", sans-serif;
  font-size: calc(var(--index) * .6);
  color: #838383;
  margin-bottom: calc(var(--index) * .14);
}

.ApartmentsList__content-left-info span:last-child {
  margin-bottom: 0;
}

.ApartmentsList__content-right a {
  width: var(--apart--button-widht);
  height: var(--apart--button-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: #181818;
  text-decoration: none;
}

.ApartmentsList__content-right a span:first-child {
  font-family: "SF500", sans-serif;
  margin-right: calc(var(--index) * .14);
  font-size: calc(var(--index) * .58);
}

.ApartmentsList__content-right a span:last-child {
  font-family: "SF500", sans-serif;
  font-size: calc(var(--index) * .5);
  opacity: .6;
}

/*----- Third Page -----*/
