@import "../../node_modules/reset-css/reset.css";

/*----- Fonts -----*/

@font-face {
  font-family: 'OS500';
  src: url('../fonts/Orelo-SemiWide-Medium.woff2') format('woff2')
}

@font-face {
  font-family: 'OS600';
  src: url('../fonts/Orelo-SemiWide-600.woff2') format('woff2')
}

@font-face {
  font-family: 'SF400';
  src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'SF700';
  src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'SF300';
  src: url('../fonts/SF-Pro-Display-Light.woff2') format('woff2')
}

@font-face {
  font-family: 'SF500';
  src: url('../fonts/SF-Pro-Display-Medium.woff2') format('woff2')
}

/*----- Vars -----*/

:root {
  --accent-color: #A18C50;

  --often-bg: #1F1F1F;
  --often-color: #838383;

  --index: calc(1vh + 1vw);
  --bgc: #121212;

  --title-size: calc(var(--index) * 1.6);

  --apart-gutter: 14px;
  --card-width: 50%;
  --color-text: #eee;

  --header-height: calc(var(--index) * 2.7);
  --gutter: calc(var(--index) * 1);

  --apart--button-height: calc(var(--index) * 1.27);
  --apart--button-widht: calc(var(--apart--button-height) * 170 / 38);

  --header--button-info-height: calc(var(--index) * 1.27);
  --header--button-info-widht: calc(var(--apart--button-height) * 170 / 38);

  --transition: cubic-bezier(0.075, 0.5, 0, 1);

  --third-page-text: calc(var(--index) * .53);
  --third-img-gutter: calc(var(--index) * .53);

  --third-page-img-gutter: calc(var(--index) * 0.45);

  --third-page-button-height: calc(var(--index) * 1.7);
  --third-page-button-widht: calc(var(--third-page-button-height) * 6);
}

* {
  box-sizing: border-box;
  outline: none;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4) inset;
}

body {
  background-color: var(--bgc);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/*----- Often Input -----*/

.inputMix {
  border-radius: 4px;
  margin-bottom: var(--third-page-text);
  display: flex;
  align-items: center;
  background: var(--often-bg);
  height: calc(var(--index) * 2);
  position: relative;
}

.inputMix span.labelInput {
  transition: all .3s ease-in-out;
  font-family: "SF500", sans-serif;
  position: absolute;
  left: calc(var(--index) * 0.66);
  font-size: var(--third-page-text);
  color: #838383;
}

.inputMix input {
  width: 100%;
  height: 100%;
  font-family: "SF500", sans-serif;
  padding: calc(var(--index) * 0.66);
  color: var(--often-color);
  font-size: var(--third-page-text);
  text-align: left;
  border: none;
  transition: all .3s ease-in-out;
  background-color: transparent;
}

.inputMix.active input {
  height: 50%;
  padding-top: 0;
  padding-bottom: calc(var(--index) * 0.33);
  margin-top: auto;
  color: #eee;
}

.inputMix.active span.labelInput {
  margin-top: calc(var(--index) * -0.66);;
}

/*----- Header -----*/

.header {
  height: var(--header-height);
  padding: calc(var(--gutter) / 2) var(--gutter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 100%;
}

.header__logo img {
  height: 100%;
  object-fit: contain;
}

.header__info {
  width: var(--header--button-info-widht);
  height: var(--header--button-info-height);
  border-radius: var(--header--button-info-height);
  background: #1F1F1F;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__info_man {
  height: calc(var(--header--button-info-height));
  width: calc(var(--header--button-info-height) * 2.5);
  border-radius: var(--header--button-info-height);
  position: relative;
}

.header__info span:first-child {
  width: 77%;
  text-align: center;
  font-family: "SF500", sans-serif;
  color: #838383;
  font-size: calc(var(--header--button-info-height) / 2.5);
}

.header__info span:last-child {
  width: 23%;
  align-items: center;
  border-left: 1px solid #131313;
  display: flex;
  justify-content: center;
  height: 100%;
}

.header__info_man span:first-child {
  width: 50%;
}

.header__hamburger-icon {
  width: 50%;
  height: 100%;
  border-left: 1px solid #131313;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__info span:last-child img {
  width: calc(var(--header--button-info-height) / 2);
  height: calc(var(--header--button-info-height) / 2);
  margin-left: -2px;
}

.header__info_man span img {
  width: calc(var(--header--button-info-height) / 2);
  height: calc(var(--header--button-info-height) / 2);
  margin-left: -2px;
}

/*----- Map -----*/

.mapWrapper {
  height: calc(100vh - var(--header-height));
  width: 50%;
}
