.header__controllers {
  height: 100%;
  width: 80%;
  max-width: 1150px;
}

.findEl_second {
  height: 100%;
  padding: 0 calc(var(--index) * .9);
}

.findEl_second .findEl__input {
  height: 100%;
}
