.header__controllers {
  height: 100%;
  width: 80%;
  max-width: 1150px;
}

.findEl_second {
  padding: 0;
  height: 100%;
}

.findEl_second .findEl__input {
  padding: 0;
  padding-left: calc(var(--index) * .9);
}

.findEl_second .findEl__input:last-child {
  padding-left: 0;
}

.findEl_second input {
  padding-left: 0;
}

.findEl_second .findEl__input {
  height: 100%;
}
