.myStays {
  padding-top: calc(var(--index) * 3);
}

.myStays h2 {
  font-size: calc(var(--index) * 1.7);
  font-family: "OS600", sans-serif;
  margin-bottom: calc(var(--index) * 0.8);
  color: #eee;
}

.staysWrapper {
  display: flex;
  justify-content: space-between;
}

.StayElem {
  width: calc(33.3% - var(--index) * 2.4);
  font-family: "SF400", sans-serif;
}

.StayElem img {
  width: 100%;
  height: calc(var(--index) * 10);
  object-fit: cover;
  margin-bottom: calc(var(--index) * .5);
  border-radius: 4px;
  overflow: hidden;
}

.StayElemInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(var(--index) * 0.55);
  border-bottom: 1px solid #292929;
}

.StayElemInfoLeft {
  max-width: 70%;
}

.StayElemInfo button {
  height: calc(var(--index) * 1.3);
  width: calc(var(--index) * 5.8);
}

.StayElemInfoLeft h4 {
  font-size: calc(var(--index) * 0.66);
  color: #eee;
  margin-bottom: 3px;
  font-family: "SF500", sans-serif;
  white-space: normal;
}

.StayElemInfoLeft .size {
  display: flex;
  align-items: center;
}

.StayElemInfoLeft .size span {
  color: #838383;
  font-size: var(--third-page-text);
}

.StayElemInfoLeft .size span:first-child {
  margin-right: calc(var(--index) * 0.33);
}

.StayElemDetails {
  padding: calc(var(--index) * 0.55) 0;
  border-bottom: 1px solid #292929;
}

.StayElemDetails span, .StayElemColor {
  font-size: var(--third-page-text);
  color: #838383;
}

.StayElemDetails span:first-child {
  margin-right: calc(var(--index) * 0.5);;
}

.StayElemColor {
  padding-top: calc(var(--index) * 0.55);
}

.singleStayWrapper {
  display: flex;
  justify-content: space-between;
}

.singleStay {
  width: calc(50% - var(--index) * 0.5);
}

.singleStayWrapper .singleStayLeft img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.singleStayRight h3 {
  font-size: calc(var(--index) * 1.3);
  color: #eee;
  font-family: "OS600", sans-serif;
}

.singleStayRight p {
  font-size: var(--third-page-text);
  line-height: calc(var(--third-page-text) * 1.9);
  margin: calc(var(--index) * .66) 0;
  max-width: 80%;
  font-family: "SF500", sans-serif;
  color: #D0D0D0;
}

.MyStayResultElem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--index) * 0.8);
}

.MyStayResultElemLeft {
  width: 68%;
  padding: calc(var(--index) * 0.66);
  background-color: var(--often-bg);
}

.MyStayResultElemRight {
  width: 32%;
  padding: calc(var(--index));
  background-color: #161616;
}

.MyStayResultElemLeft img {
  height: 100%;
  width: calc(var(--index) * 13);
  border-radius: 4px;
  overflow: hidden;
}
