/*----- SearchPage -----*/

.search__wrapper {

}

.SearchPage {
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  color: #eee;
  justify-content: center;
  text-align: center;
}

.SearchPage .content {
  width: 100%;
  margin-top: -15%;
}

.SearchPage h1 {
  font-size: calc(var(--index) * 3.1);
  font-family: "OS500", sans-serif;
  margin-bottom: calc(var(--index) * .47);
}

.SearchPage p {
  width: calc(var(--index) * 20);
  font-size: calc(var(--third-page-text) * 1.2);
  line-height: calc(var(--third-page-text) * 1.8);;
  font-family: "SF500", sans-serif;
  margin: auto;
  margin-bottom: calc(var(--index) * 1.2);
}

.findEl {
  padding: calc(var(--index) * 1.1) calc(var(--index) * 1);
  width: 80%;
  background: #121212;
  margin: auto;
  outline: none !important;
}

.findEl:focus {
  outline: none !important;
}

.findEl {
  display: flex;
  justify-content: space-between;
}

.findEl__input {
  width: calc(25% - var(--index) * 0.5);
  height: calc(var(--index) * 2);
  background-color: #1F1F1F;
  color: #838383;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--index) * .9);
  font-size: var(--third-page-text);
  font-family: "SF500", sans-serif;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  text-align: left;
}

.findEl__input:first-child {
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.findEl__input input {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border: 0;
  font-size: var(--third-page-text);
  width: 100%;
  height: 100%;
  color: #838383;
  padding-left: calc(var(--index) * .9);
}

.findEl__input input.active {
  height: var(--third-page-text);
  margin-top: calc(var(--index) * .2);
}

.findEl__input-delete {
  position: absolute;
  right: calc(var(--index) * .5);
  top: calc(50% - var(--index) * .33);;
  width: calc(var(--index) * .66);
  height: calc(var(--index) * .66);
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out;
  z-index: 10;
}

.findEl__input-delete.active {
  opacity: 1;
  pointer-events: inherit;
}

.findEl__input-delete img {
  object-fit: contain;
  width: calc(var(--index) * .66);
  height: calc(var(--index) * .66);
}

.findEl__input-label {
  font-size: var(--third-page-text);
}

.findEl__where-label {
  width: 100%;
  padding-left: calc(var(--index) * .9);
}

.findEl__guest-amount, .findEl__where-label {
  color: #eee;
  max-height: 0;
  opacity: 0;
  transition: all .3s ease;
}
.findEl__guest-amount.active, .findEl__where-label.active {
  margin-top: 3px;
  max-height: 30px;
  opacity: 1;
}

.findEl__where-label.active {
  margin-top: 0;
}


.findEl__input:last-child {
  justify-content: center;
  background-color: var(--accent-color);
}

.findEl__input:last-child {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #181818;
}

.findEl__input:last-child img {
  width: calc(var(--index) * .6);;
  margin-right: calc(var(--index) * .3);
}

.findEl__input .popup {
  position: absolute;
  background-color: #1F1F1F;
  left: 0;
  top: calc(100% + var(--index) / 2);
  width: calc(var(--index) * 20);
  max-height: calc(var(--index) * 9.5);
  padding: calc(var(--index) * 0.66);
  text-align: left;
  border-radius: 4px;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all .3s ease-in-out;
}

.findEl__input .popup.active {
  opacity: 1;
  transform: translateY(0);
  z-index: 100;
  pointer-events: inherit;
}


/*  ----- guestPopup ----- */

.findEl__input .guestPopup {
  left: calc(-100% - var(--index) * 0.66);
  width: calc(200% + var(--index) * 0.66);
}

.guestPopup__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #292929;
  padding-bottom: calc(var(--index) * 0.66);
}

.guestPopup__row:last-child {
  padding-top: calc(var(--index) * 0.66);
  padding-bottom: 0;
  border-bottom: 0;
}

.guestPopup__row .guestPopup__leftSide span {
  display: block;
}

.guestPopup__row .guestPopup__leftSide span:first-child {
  font-size: var(--third-page-text);
  font-family: "SF500", sans-serif;
  color: #eee;
  margin-bottom: 2px;
}

.guestPopup__row .guestPopup__leftSide span:last-child {
  font-size: calc(var(--third-page-text) * .9);
  font-family: "SF300", sans-serif;
  color: #eee;
}

.guestPopup__row .guestPopup__rightSide {
  display: flex;
  align-items: center;
}

.guestPopup__row .guestPopup__rightSide span {
  font-family: "SF500", sans-serif;
}

.guestPopup__row .guestPopup__rightSide span:nth-child(2) {
  margin: 0 calc(var(--index) * 0.5) 0 calc(var(--index) * 0.45);
  width: calc(var(--third-page-text) * .6);
  color: #fff;
}

.guestPopup__row .guestPopup__rightSide span:nth-child(1),
.guestPopup__row .guestPopup__rightSide span:nth-child(3) {
  border-radius: 50%;
  border: 1px solid #907F51;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--third-page-text) * 2);
  height: calc(var(--third-page-text) * 2);
}

.guestPopup__row .guestPopup__rightSide span:nth-child(1).disabled,
.guestPopup__row .guestPopup__rightSide span:nth-child(3).disabled {
  opacity: .3;
}


.wherePopup ul {

}

.wherePopup li {
  padding: calc(var(--index) * 0.66) 0;
  border-bottom: 1px solid #292929;
  font-family: "SF500", sans-serif;
  font-size: var(--third-page-text);
  color: #eee;
}

.wherePopup li:first-child {
  padding-top: 0;
}

.wherePopup li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.helpWrapper {
  opacity: 0;
  pointer-events: inherit;
}

.helpWrapper.active {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  left: 0;
  height: 100%;
}

/* ----- datePopup ------ */

.react-google-flight-datepicker {
  font-family: "SF500", sans-serif;
}

.findEl__input .datePopup {
  width: calc(200% + var(--index) * 0.7);
  padding: 0;
  overflow: hidden;
  height: calc(var(--index) * 8.3);
  max-height: inherit;
}
.react-google-flight-datepicker .date-picker {
  padding: 0;
}
.react-google-flight-datepicker .calendar-wrapper {
  color: #eee;
  background-color: #1F1F1F;
}
.react-google-flight-datepicker .month-name {
  color: #eee;
  font-size: calc(var(--third-page-text) * 0.8);
}

.react-google-flight-datepicker .weekdays .weekday {
  color: var(--accent-color);
  width: calc(100% / 7);
  height: calc(var(--index) * 0.8);
  font-size: calc(var(--third-page-text) / 1.5);
  border-radius: 0;
}
.react-google-flight-datepicker .day {
  width: calc(100% / 7);
  font-size: calc(var(--third-page-text) / 1.5);
  height: calc(var(--index) * 0.8);
}
.react-google-flight-datepicker .day.selected.hovered.end,
.react-google-flight-datepicker .day.selected.hovered,
.react-google-flight-datepicker .day:hover::after {
  background: var(--accent-color);
}
.react-google-flight-datepicker .day::after {
  width: var(--third-page-text);
  height: var(--third-page-text);
  border-radius: 0;
}
.react-google-flight-datepicker .day.hovered.end {
  background: var(--accent-color);
}
.react-google-flight-datepicker .day:hover::after {
  height: calc(var(--index) * 0.8);
  width: 100%;
  background-color: var(--accent-color) !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  border-radius: 0 !important;
  padding: 0;
}

.react-google-flight-datepicker .dialog-date-picker {
  width: 100%;
  height: calc(var(--index) * 0.8);
  margin-bottom: 0;
}
.react-google-flight-datepicker .day.selected::after {
  background-color: transparent;
}
.react-google-flight-datepicker .day.selected.hovered::after,
.react-google-flight-datepicker .day.selected.hovered:hover::after,
.react-google-flight-datepicker .day:hover::after {
  background-color: var(--accent-color);
  border-radius: 2px;
  overflow: hidden;
  border: none;
}
.react-google-flight-datepicker .day.selected.hovered {
  color: #121212;
}
.react-google-flight-datepicker .day.hovered {
  background-color: #292929;
  color: #eee;
}

.react-google-flight-datepicker .flipper-button {
  position: absolute;
  top: calc(var(--third-page-text) / 1.6);
  background-color: transparent;
  box-shadow: none;
}
.react-google-flight-datepicker .flipper-button {
  fill: #fff;
  width: calc(var(--index) * 0.8);
  height: calc(var(--index) * 0.8);
}
.react-google-flight-datepicker .flipper-button:first-child {
  left: calc(var(--third-page-text) * 2.8);
}
.react-google-flight-datepicker .flipper-button:last-child {
  right: calc(var(--third-page-text) * 2.8);
  left: initial;
}
.react-google-flight-datepicker .calendar-content {
  padding: 0;
}
.react-google-flight-datepicker .month-calendar {
  padding: var(--third-page-text);
}
.react-google-flight-datepicker .dialog-content {
  border: none;
  box-shadow: none;
}
.react-google-flight-datepicker .month-calendar {
  margin-right: 0;
}

.react-google-flight-datepicker .day::after {

}
