/*----- SearchPage -----*/

.search__wrapper {

}

.SearchPage {
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  color: #eee;
  justify-content: center;
  text-align: center;
}

.SearchPage .content {
  width: 100%;
  margin-top: -15%;
}

.SearchPage h1 {
  font-size: calc(var(--index) * 3.1);
  font-family: "OS500", sans-serif;
  margin-bottom: calc(var(--index) * .47);
}

.SearchPage p {
  width: calc(var(--index) * 20);
  font-size: calc(var(--third-page-text) * 1.2);
  line-height: calc(var(--third-page-text) * 1.8);;
  font-family: "SF500", sans-serif;
  margin: auto;
  margin-bottom: calc(var(--index) * 1.2);
}

.SearchPage .findEl {
  padding: calc(var(--index) * 1.1) calc(var(--index) * 1);
  width: 80%;
  background: #121212;
  margin: auto;
}

.SearchPage .findEl {
  display: flex;
  justify-content: space-between;
}

.SearchPage .findEl__input {
  width: calc(25% - var(--index) * 0.5);
  height: calc(var(--index) * 2);
  background-color: #1F1F1F;
  color: #838383;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--index) * .9);
  font-size: var(--third-page-text);
  font-family: "SF500", sans-serif;
  cursor: pointer;
  position: relative;
}

.SearchPage .findEl__input input {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border: 0;
  width: 80%;
  color: #838383;
}

.SearchPage .findEl__input:last-child {
  justify-content: center;
  background-color: var(--accent-color);
}

.SearchPage .findEl__input:last-child {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #181818;
}

.SearchPage .findEl__input:last-child img {
  width: calc(var(--index) * .6);;
  margin-right: calc(var(--index) * .3);
}

.SearchPage .findEl__input:first-child .popup {
  position: absolute;
  background-color: #1F1F1F;
  left: 0;
  top: calc(100% + var(--index) / 2);
  width: calc(var(--index) * 20);
  max-height: calc(var(--index) * 10);
  padding: calc(var(--index) * 0.66);
  text-align: left;
  border-radius: 4px;
}

.SearchPage .wherePopup ul {
  overflow: auto;
}

.SearchPage .wherePopup li {
  padding: calc(var(--index) * 0.66) 0;
  border-bottom: 1px solid #292929;
  font-family: "SF500", sans-serif;
  color: #eee;
}

.SearchPage .wherePopup li:first-child {
  padding-top: 0;
}

.SearchPage .wherePopup li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
